*.pyc

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml
.project
*.pyc
*.pydevproject
*.settings
www/static/*
.idea/*
venv/*
venv37/*
venv-old/*